.navigation{
    background-color: rgb(52, 114, 93);
    /* float: right; */
}
.navigation .option{
    padding: 2vw;
    float: right;
}
.option{
    text-decoration: none;
    color: white;
}
.option:hover{
    background-color: rgb(48, 97, 97);
    text-decoration: none;
    color: white;
}
.productoDis, .producto{
    cursor: pointer;
}

.productos{
    position: absolute;
    background-color: rgb(48, 97, 97);
    display: none;
    right: 0px;
    bottom: -60%;
    width: 100%;
    flex-direction: column;
}
.producto{
    color: white;
    text-decoration: none;
    position: relative;
    text-align: center;
}
.producto:hover{
    color: lightgray;
}
.producto:hover{
    text-decoration: none;
}
.producto:hover .productos{
    display: flex;
}
.updateForm div{
    width: 48%;
}
.input-container div{
    width: 75%;
}
.nv-id{
    width: 8%;
    text-align: right;
}
