body{
  font-style: Arial;
  background: pink;
}

#maincontainer{
  margin-left: 150px auto;
  width: 600px;
  background: white;
}
.encabezado{
  display: flex;
  color: #472311;
}
.encabezado h4{
  margin-left: 10px;
}
.detalle{
  display: flex;
  color: #472311;
  font-size: 20px;
  margin-left: 50px;
}
.factura{
  margin-left: 250px;
}

table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 20px;
}

thead {
  background-color: #DE823C;
  border-bottom: solid 5px #A12D24;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}
